body {
    margin: 0;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    background-color: black;
}

html {
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20% 40% 20% 40%;
}

h1 {
    font-family: 'Gunship Condensed', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 60px;
    font-style: normal;
    text-align: center;
    line-height: 1.6;
  }

  a:link {
    font-family: 'Gunship Condensed', sans-serif;
    color: black;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: black;
    text-decoration: dashed;
  }
  
  /* mouse over link */
  a:hover {
    color: greenyellow;
    text-decoration: underline;
  }
  
  /* selected link */
  a:active {
    color: greenyellow;
    text-decoration: underline;
  }
